*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

body{
    line-height: inherit;
        font-family: 'Inter', 'Roboto', sans-serif;
}

.text{
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 1em;
line-height: 30px;
text-align: center;
}

.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-left: 0em;
}

.title{
    color: #80BC00;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    line-height: 60px;
    text-align: center;
}

.paragraf{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 30px;
    color: #80BC00;
    width: 50%;
    padding: 2%;
}




